.lead {
    width: calc(100% - 2*148px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 900px) {
    .lead {
        width: 100%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1025px) {
    .lead {
        width: calc(100% - 2*48px);
    }
}

@media screen and (min-width: 1281px) {
    .lead {
        width: none;
        max-width: 1280px;
    }
}