.footer__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin: 0 18px 0 0;
}

.footer__link:last-child {
    margin: 0;
}

.footer__link:hover {
    opacity: 0.8;
    transition: opacity 350ms ease;
}

@media screen and (min-width: 320px) and (max-width: 594px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 32px 0;
    }
}