.lead__subtitle {
    width: calc(100% - 2*172px);
    min-height: fit-content;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 64px 0;
    color: #FFFFFF;
}