.places__place {
    margin-bottom: 80px;
}

.places__place:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
    .places__place {
        margin-bottom: 72px;
    }
    .places__place:last-child {
        margin-bottom: 0;
    }
}