.place__paragraph {
    min-width: 484px;
    height: fit-content;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    grid-area: p1;
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
    .place__paragraph {
        min-width: 352px;
        height: fit-content;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #FFFFFF;
        margin: 0;
        grid-area: p1;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .place__paragraph {
        min-width: 100%;
        /* min-height: 208px; */
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #FFFFFF;
        margin: 0 16px 25px 16px;
        /* display: block; */
    }
    .place__paragraph:last-child {
        margin: 0;
    }
}